<section id="advantages" class="row">
  <h2 class="title center">
    Ми гарантуємо офіційне працевлаштування тому, що:
  </h2>
  <div class="underline"></div>

  <div class="desctop">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a href="#tab-content-1" class="active">
            <div class="icon">
              <i class="material-icons">assignment_turned_in</i>
            </div>
            <div class="sub-title"><span>Працюємо по ліцензії</span></div>
          </a>
        </li>
        <li class="tab col s3">
          <a href="#tab-content-2">
            <div class="icon">
              <i class="material-icons">check_circle_outline</i>
            </div>
            <div class="sub-title">
              <span>Контроль і перевірка всіх нових вакансій</span>
            </div>
          </a>
        </li>
        <li class="tab col s3">
          <a href="#tab-content-3">
            <div class="icon"><i class="material-icons">attach_money</i></div>
            <div class="sub-title">
              <span>Безкоштовне працевлаштування</span>
            </div>
          </a>
        </li>
        <li class="tab col s3">
          <a href="#tab-content-4">
            <div class="icon"><i class="material-icons">calendar_today</i></div>
            <div class="sub-title"><span>Працюємо 2 роки</span></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tabs-content">
      <div id="tab-content-1" class="col tab-content s12">
        <p>
          Компанія займається тільки офіційним працевлаштуванням. Сплачує
          податки і здійснює звітування в державні органи статистики. Ми
          працюємо по
          <a
            href="<%=process.env.DOMAIN%>/docs/license.pdf"
            target="_blank"
            class="license"
            >ліцензії 423</a
          >
          виданою міністерством соціальної політики України.
        </p>
      </div>

      <div id="tab-content-2" class="col tab-content s12">
        <p>
          Ми завжди перевіряємо всі нові вакансії. Працівники нашої фірми
          відвідують підприємства для розуміння специфіки роботи, а також
          перевіряють належний стан умов проживання, що надаються для наших
          громадян. Тому, ми надаємо фото і відео виробничих процесів для
          повного ознайомлення з вакансією ще до від'їзду з України!
        </p>
      </div>
      <div id="tab-content-3" class="col tab-content s12">
        <p>
          Згідно чинного законодавства працевлаштування від компанія «РОБОТА В
          ЄВРОПІ» здійснюється безкоштовно, вакансії всі безкоштовні!
        </p>
      </div>
      <div id="tab-content-4" class="col tab-content s12">
        <p>
          Знаємо всі дрібниці, нюанси в сфері працевлаштування та візової
          підтримки. За два роки роботи компанія «РОБОТА В ЄВРОПІ»
          працевлаштувала більше 600 людей на різні вакансії, надано 900
          консультацій.
        </p>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="advantage">
      <i class="material-icons">assignment_turned_in</i>
      <div class="text">
        <div class="sub-title"><span>Працюємо по ліцензії</span></div>
        <div class="main-text">
          <span>
            Знаємо всі дрібниці, нюанси в сфері працевлаштування та візової
            підтримки. За два роки роботи компанія «РОБОТА В ЄВРОПІ»
            працевлаштувала більше 600 людей на різні вакансії, надано 900
            консультацій.
          </span>
        </div>
      </div>
    </div>
    <div class="advantage">
      <i class="material-icons">check_circle_outline</i>
      <div class="text">
        <div class="sub-title">
          <span>Контроль і перевірка всіх нових вакансій</span>
        </div>
        <div class="main-text">
          <span>
            Компанія займається тільки офіційним працевлаштуванням. Сплачує
            податки і здійснює звітування в державні органи статистики. Ми
            працюємо по
            <a
              href="<%=process.env.DOMAIN%>/docs/license.pdf"
              target="_blank"
              class="license"
              >ліцензії 423</a
            >
            виданою міністерством соціальної політики України.
          </span>
        </div>
      </div>
    </div>
    <div class="advantage">
      <i class="material-icons">attach_money</i>
      <div class="text">
        <div class="sub-title"><span>Безкоштовне працевлаштування</span></div>
        <div class="main-text">
          <span>
            Згідно чинного законодавства працевлаштування від компанія «РОБОТА В
            ЄВРОПІ» здійснюється безкоштовно, вакансії всі безкоштовні!
          </span>
        </div>
      </div>
    </div>
    <div class="advantage">
      <i class="material-icons">calendar_today</i>
      <div class="text">
        <div class="sub-title"><span>Працюємо 2 роки</span></div>
        <div class="main-text">
          <span>
            Знаємо всі дрібниці, нюанси в сфері працевлаштування та візової
            підтримки. За два роки роботи компанія «РОБОТА В ЄВРОПІ»
            працевлаштувала більше 600 людей на різні вакансії, надано 900
            консультацій.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
