<div id="counter">
  <div class="counter col_fourth">
    <div class="icon">
      <%- include('circle.svg') %>
    </div>
    <h2
      class="timer count-title count-number"
      data-to="2"
      data-speed="1000"
    ></h2>
    <p class="count-text ">Роки на ринку</p>
  </div>

  <div class="counter col_fourth">
    <div class="icon">
      <%- include('circle.svg') %>
    </div>
    <h2
      class="timer count-title count-number"
      data-to="600"
      data-speed="1500"
    ></h2>
    <p class="count-text ">Працевлаштовано людей</p>
  </div>

  <div class="counter col_fourth">
    <div class="icon">
      <%- include('circle.svg') %>
    </div>
    <h2
      class="timer count-title count-number"
      data-to="400"
      data-speed="1500"
    ></h2>
    <p class="count-text ">Відкритих віз</p>
  </div>

  <div class="counter col_fourth end">
    <div class="icon">
      <%- include('circle.svg') %>
    </div>
    <h2
      class="timer count-title count-number"
      data-to="900"
      data-speed="1500"
    ></h2>
    <p class="count-text ">Надано консультацій</p>
  </div>
</div>
