<footer id="contacts">
    <h2>Контакти</h2>
    <article class="contact">
            <img src="/img/phone.png" alt="phone">
            <div class="content-wraper"> 
                <span class="number">+38 067 594 37 03</span>
                <span class="number">+38 050 337 46 14</span>
            </div>
    </article>
    <article class="contact">
        <img src="/img/mail.png" alt="mail">
        <div class="content-wraper"> 
            <span class="number">denisyukjob@ukr.net</span>   
        </div>
    </article>
    <article class="contact">
        <img src="/img/location.png" alt="location">
        <div class="content-wraper"> 
            <span>Житомир вул. Вел. Бердичівська 35а <br> 2 поверх</span>   
        </div>
    </article>
    <p id="license">
        <a href="https://www.msp.gov.ua/documents/4776.html" target='_blank'>Ліцензія: наказ мінсоцполітики № 423</a> 
    </p>
    </footer>
    
    <%- include('./scripts')-%>
    
    </body>
    </html>
