<%- include('./footer-contacts')-%>
<aside>
<a href="viber://chat/?number=+380978560219">
    <img src="/img/viber-icon.png" alt="icon">
</a>
<a href="https://www.instagram.com/denisyuk.czjob/">
    <img src="/img/instagram-icon.png" alt="icon">
</a>
<a href="https://www.facebook.com/profile.php?id=100030753322152">
    <img src="/img/facebook-icon.png" alt="icon">
</a>
</aside>
