<footer id="contacts">
<h2>Контакти</h2>
<article class="contact">
        <img src="/img/phone.png" alt="phone">
        <div class="content-wraper"> 
            <span class="number">+38 096 178 11 15</span>
            <span class="number">+38 097 856 02 19</span>
        </div>
</article>
<article class="contact">
    <img src="/img/mail.png" alt="mail">
    <div class="content-wraper"> 
        <span class="number">denisyukjob@ukr.net</span>   
    </div>
</article>
<article class="contact">
    <img src="/img/location.png" alt="location">
    <div class="content-wraper"> 
        <span>Житомир вул. Вел. Бердичівська 35а <br> 2 поверх</span>   
    </div>
</article>
<p id="license">
    <a href="https://www.msp.gov.ua/documents/4776.html" target='_blank'>Ліцензія: наказ мінсоцполітики № 423</a> 
</p>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113291240-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113291240-2');
</script>

<!--  jivochat -->
<script src="//code-ya.jivosite.com/widget/7op37zVNGp" ></script>

<!-- materialize -->
<script src="/javascripts/materialize.min.js"></script>

<!-- galery -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.fancybox.min.js"></script>

</body>
</html>