<footer id="contacts">
<h2>Контакти</h2>
<article class="contact">
        <img src="/img/phone.png" alt="phone">
        <div class="content-wraper"> 
            <span class="number">+38 096 178 11 15</span>
            <span class="number">+38 097 856 02 19</span>
            <span class="number">+38 097 89 55 892</span>
        </div>
</article>
<article class="contact">
    <img src="/img/mail.png" alt="mail">
    <div class="content-wraper"> 
        <span class="number">denisyukjob@ukr.net</span>   
    </div>
</article>
<article class="contact">
    <img src="/img/location.png" alt="location">
    <div class="content-wraper"> 
        <span>вул. Велика Бердичівська 35а <br> 2 поверх</span>   
    </div>
</article>
<p id="license">Ліцензія: наказ мінсоцполітики № 423</p>
</footer>

<aside>
<a href="viber://chat/?number=+380978560219">
    <img src="/img/viber-icon.png" alt="icon">
</a>
<a href="https://www.instagram.com/denisyuk.czjob/">
    <img src="/img/instagram-icon.png" alt="icon">
</a>
<a href="https://www.facebook.com/profile.php?id=100030753322152">
    <img src="/img/facebook-icon.png" alt="icon">
</a>
</aside>






<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.fancybox.min.js"></script>
</body>
</html>