<%- include('./footer-contacts')-%>
<aside>
<a class='viber-chat' href="viber://chat/?number=+380978560219">
    <img src="/img/viber-icon.png" alt="icon">
</a>
<a class='viber-add' href="viber://add/?number=380978560219">
    <img src="/img/viber-icon.png" alt="icon">
</a>
<a href="https://www.instagram.com/denisyuk.czjob/">
    <img src="/img/instagram-icon.png" alt="icon">
</a>

</aside>
