<!DOCTYPE html>
<html lang="uk-UA">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Офіційне працевлаштування за кордоном. Працевлаштування в Чехії та Польщі. Робота в Європі."
    />
    <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.min.css" />
    <link rel="stylesheet" href="/stylesheets/slick.min.css" />
    <link rel="stylesheet" href="/stylesheets/video-slider.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/touch-icon.png" />
    <!-- open graph -->
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:site_name" content="Denysiuk Job" />

    <meta
      property="og:description"
      content="Офіційне працевлаштування за кордоном. Працевлаштування в Чехії та Польщі. Робота в Європі."
    />
    <meta
      property="og:image"
      content="https://denysiukjob.com.ua/img/contacts-image.jpg"
    />

    <title><%=title%></title>
  </head>
  <body></body>
</html>
