<!DOCTYPE html>
<html lang="uk-UA">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Офіційне працевлаштування за кордоном. Працевлаштування в Чехії. Робота в Європі."
    />
    <meta name="keywords" content="" />

    <link
      href="http://allfont.net/allfont.css?fonts=roboto-condensed"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://allfont.net/allfont.css?fonts=helios-cond-light"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://allfont.net/allfont.css?fonts=mon-amour-one-medium"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/slick.css" />
    <link rel="stylesheet" href="/stylesheets/video-slider.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title><%=title%></title>
  </head>
  <body></body>
</html>
