<div class="popup-wrapper">
  <div class="background">
    <div class="content">
      <span class="close">X</span>
      <form id="leadForm" action="#" method="post">
        <input type="text" class="browser-default" name="name" placeholder="Ім'я" />
        <input type="text" class="browser-default" name="region" placeholder="Місто" />
        <input type="text" class="browser-default  required" name="phone" placeholder="Номер телефону*" />
        <input type="text" class="browser-default" name="promocode" placeholder="Промокод" />

        <input type="submit" class="browser-default" value="Залишити заявку" />
      </form>

      <div class="thank-you-view">
        <p>viber</p>
        <p>instagram</p>
        <p>youtube</p>
        <p>google map</p>
      </div>
    </div>
  </div>
</div>
