<div class="popup-wrapper">
  <div class="background">
    <div class="content">
      <span class="close">X</span>
      <form id="leadForm" action="#" method="post">
        <input type="text" class="browser-default" name="name" placeholder="Ім'я" />
        <input type="text" class="browser-default  required" name="phone" placeholder="Номер телефону*" />
        <input type="text" class="browser-default" name="promocode" placeholder="Промокод" />

        <input type="submit" class="browser-default" value="Залишити заявку" />
      </form>

      <div class="thank-you-view">
        <h4>Наші контакти</h4>
        <div class="thank-you-contacts">
          <a href="viber://chat/?number=+380978560219" target="_blank">
            <img src="/img/viber-logo.png" alt="logo viber" />
          </a>
          <a href="https://www.instagram.com/denisyuk.czjob/" target="_blank">
            <img src="/img/instagram-logo-circle.png" alt="logo instagram" />
          </a>
          <a href="https://www.youtube.com/channel/UC0kz_vvZBbcqfHrLHSh8QyQ" target="_blank">
            <img src="/img/youtube-logo.png" alt="logo youtube" />
          </a>
        </div>

        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.055332156727!2d28.668416377605077!3d50.2516718470786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c655653cd2bb9%3A0x3b72e0374a9ecaec!2z0J_RgNCw0YbQtdCy0LvQsNGI0YLRg9Cy0LDQvdC90Y8g0LfQsNC60L7RgNC00L7QvdC-0Lw!5e0!3m2!1suk!2sua!4v1591626333219!5m2!1suk!2sua"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
