<section id="lists">
  <div class="wrapper">
    <div class="title">
      <h2>Займаємось працевлаштуванням та виготовленням документів</h2>
      <h3>Тільки перевірені вакансії та офіційні документи</h3>
      <div class="underline"></div>
    </div>
    <div class="list z-depth-1">
      <div class="sub-title left-sub-title">
        <h2>Працевлаштування</h2>
      </div>
      <div class="items">
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text"><span>Безкоштовне працевлаштування</span></div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text"><span>Вакансії у 2 країнах Європи</span></div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Довезення до місця роботи при групових виїздах</span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Безкоштовне надання SIM-карт закордонного оператора</span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span
              >Індивідуальне створення маршрутного листа при самостійних
              доїздах</span
            >
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Координування до місця приїзду</span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Надання безкоштовних конслультацій</span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>24/7 лінія підтримки від нашої компанії</span>
          </div>
        </div>
      </div>

      <div class="button">
        <a href="/"><h5>Переглянути</h5></a>
      </div>
    </div>

    <div class="list z-depth-1">
      <div class="sub-title right-sub-title">
        <h2>Виготовлення документів</h2>
      </div>
      <div class="items">
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Відправка документів по всій Україні</span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span
              >Безкоштовна консультація та надання відповідей на ваші
              запитання</span
            >
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span
              >Швидке виготовлення легальних та офіційних запрошень від
              роботодавців</span
            >
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span
              >Швидке виготовлення повних пакетів документів для всіх типів
              робочих віз</span
            >
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Постійна підтримка на всіх етапах роботи </span>
          </div>
        </div>
        <div class="item">
          <i class="material-icons">done</i>
          <div class="text">
            <span>Здійснення медичного страхування на будь який період</span>
          </div>
        </div>
      </div>

      <div class="button">
        <a href="/"><h5>Переглянути</h5></a>
      </div>
    </div>
  </div>
</section>
