<div class="menu-wrapper">
    <menu>
        <div class="menu-item"><a href="/">Головна</a></div>
        <div class="menu-item"><a href="/#vacancies">Вакансії</a></div>
        <div class="menu-item list-menu"><a href="#">Інформація</a>
            <ul>
                <li class="list-item"><a href="#">inf1</a></li>
                <li class="list-item"><a href="#">inf2</a></li>
                <li class="list-item"><a href="#">inf3</a></li>
                <li class="list-item"><a href="#">inf4</a></li>
                <li class="list-item"><a href="#">inf5</a></li>
            </ul>
        </div>
        <div class="menu-item"><a href="#">Послуги</a></div>
        <div class="menu-item"><a href="#">Контакти</a></div>
    </menu>
</div>
