<div class="menu-wrapper">
    <menu>
        <div class="menu-item"><a href="https://denysiukjob.com.ua">Головна</a></div>
        <div class="menu-item"><a href="https://denysiukjob.com.ua/vacancies">Вакансії</a></div>
        <div class="menu-item list-menu"><a href="#">Інформація</a>
            <ul>
                <li class="list-item"><a href="https://denysiukjob.com.ua/info/aboutCzech">Про Чехію</a></li>
                <li class="list-item"><a href="https://denysiukjob.com.ua/info/perspectiva">Перспектива для Українців</a></li>
                <li class="list-item"><a href="https://denysiukjob.com.ua/info/pratsevlashtuvannya">Працевлашту-вання до 90 днів</a></li>
                <%# <li class="list-item"><a href="https://denysiukjob.com.ua/info/twoYear">Двохрічні візи</a></li> %>
            </ul>
        </div>
        <%# <div class="menu-item"><a href="#">Послуги</a></div> %>
        <div class="menu-item"><a href="https://denysiukjob.com.ua/contacts">Контакти</a></div>
    </menu>
</div>
