<section id="phones">
  <div class="title">
    <h3>Працюємо на совість!</h3>
    <div class="underline"></div>
  </div>
  <div class="phone">
    <i class="material-icons">call</i>
    <a href="tel:+380961781115">+38 096 178 11 15</a>
  </div>
  <div class="phone">
    <i class="material-icons">call</i>
    <a href="tel:+380978560219">+38 097 856 02 19</a>
  </div>
</section>
