<section id="phones">
  <div class="title">
    <h3>Працюємо на совість!</h3>
    <div class="underline"></div>
  </div>
  <div class="phone">
    <i class="material-icons">call</i>
    <a href="tel:+380675943703">+38 067 594 37 03</a>
  </div>
  <div class="phone">
    <i class="material-icons">call</i>
    <a href="tel:+380503374614">+38 050 337 46 14</a>
  </div>
</section>
