<div class="profiles" id="profiles">
  <div class="profile z-depth-1">
    <div class="img photo1"></div>
    <div>
      <h3 class="name">Алєйніков<br />Валентин</h3>
      <p class="position">менеджер з оформлення документів</p>
    </div>
    <div class="contacts">
      <a href="viber://chat/?number=+380675943716">
        <img src="/img/viber-logo.png" alt="" />
      </a>

      <a href="https://t.me/+380675943716" target="_blank">
        <img src="/img/telegram-logo.png" alt="" />
      </a>
      <a href="tel:+380675943716" class="phone">
        +38 067 594 37 16
      </a>
    </div>
  </div>
  <div class="profile z-depth-1">
    <div class="img photo2"></div>
    <div>
      <h3 class="name">
        Кутало<br />
        Інна
      </h3>
      <p class="position">менеджер з оформлення документів</p>
    </div>
    <div class="contacts">
      <a href="viber://chat/?number=+380977789002">
        <img src="/img/viber-logo.png" alt="" />
      </a>
      <a href="https://t.me/+380977789002" target="_blank">
        <img src="/img/telegram-logo.png" alt="" />
      </a>
      <a href="tel: +380675943726" class="phone"> +38 067 594 37 26</a>
    </div>
  </div>
</div>
