<div class="profiles" id="profiles">
  <div class="profile z-depth-1">
    <div class="img photo1"></div>
    <div>
      <h3 class="name">Ігор Денисюк</h3>
    </div>
    <div class="contacts">
      <div class="subtitle">Зв'язатися зі мною</div>
      <a href="viber://chat/?number=+380961781115">
        <img src="/img/viber-logo.png" alt="" />
      </a>

      <a href="https://t.me/Ihor_denysiuk" target="_blank">
        <img src="/img/telegram-logo.png" alt="" />
      </a>
      <a href="tel:+380961781115" class="phone">
        +38 096 1781 115
      </a>
    </div>
  </div>
  <div class="profile z-depth-1">
    <div class="img photo2"></div>
    <div>
      <h3 class="name">Олександр Денисюк</h3>
    </div>
    <div class="contacts">
      <div class="subtitle">Зв'язатися зі мною</div>
      <a href="viber://chat/?number=+380978560219">
        <img src="/img/viber-logo.png" alt="" />
      </a>
      <a href="https://t.me/DENISYUKJOB" target="_blank">
        <img src="/img/telegram-logo.png" alt="" />
      </a>
      <a href="tel:+380978560219" class="phone">+38 097 856 02 19</a>
    </div>
  </div>
</div>
