<section id="socialnetwork">
  <h2>
    Ми в соціальних мережах
  </h2>
  <a href="https://www.instagram.com/denisyuk.czjob/" target="_blank">
    <img src="/img/instagram-logo.png" alt="instagram" />
  </a>
  <a
    href="https://www.facebook.com/profile.php?id=100030753322152"
    target="_blank"
  >
    <img src="/img/facebook-logo.png" alt="facebook" />
  </a>
  <a
    href="https://www.youtube.com/channel/UC0kz_vvZBbcqfHrLHSh8QyQ/"
    target="_blank"
  >
    <img src="/img/youtube-logo-large.png" alt="youtube" />
  </a>
</section>
