<%- include('part/header',{title:"Робота за кордоном"})-%> <%-
include('part/menu-admin')-%>
<div class="container">
  <style>
    .buttons {
      min-height: 400px;
    }
    .buttons li {
      margin: 10px;
    }
  </style>
  <ul class="buttons">
    <li>
      <a class="waves-effect waves-light btn" href="/vacancies/list">
        Вакансії <i class="material-icons right">work</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/reviews/add/video">
        Додати відео відгук <i class="material-icons right">camera</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/reviews/add/image">
        Додати фото відгук <i class="material-icons right">image</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/services/list">
        Послуги <i class="material-icons right">folder_shared</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/news/list">
        Новини <i class="material-icons right">receipt_long</i>
      </a>
    </li>
  </ul>
</div>

<%- include('part/footer-contacts')-%>
