<%- include('part/header',{title:"Робота за кордоном"})-%> <%-
include('part/menu-admin')-%>
<link rel="stylesheet" href="/stylesheets/simditor.css" />
<div class="container">
  <ul>
    <li>
      <a class="waves-effect waves-light btn" href="/vacancies/list">
        Вакансії <i class="material-icons right">work</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/reviews/add/video">
        Додати відео відгук <i class="material-icons right">camera</i>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light btn" href="/reviews/add/image">
        Додати фото відгук <i class="material-icons right">image</i>
      </a>
    </li>
  </ul>
</div>

<%- include('part/footer-contacts')-%>
