<%- include('part/header',{title:"Робота за кордоном"})-%>
<%- include('part/menu')-%>

<div class='anket-wrapper'>
    
<main id='anket'>
    <h1>Анкета</h1>
    <form action='/anket' method='post'>
        <input type="text" name="name" value="" placeholder="Введіть ім'я" required>
        <select name='time'>
            <option value="не вибрано" selected>Зручний час для розмови</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00">17:00</option>
            <option value="17:30">17:30</option>
        </select>
        <input type="tel" name="tel"  placeholder="Введіть свій телефон" required>
        <input type="submit"  value="Відправити" >

    </form>
</main>
</div>










<%- include('part/footer')-%>