<%- include('part/header',{title:"Робота за кордоном"})-%>
<%- include('part/menu')-%>
<div class='contacts-page-wrapper'>
    <main id='contacts-page'>
        <h1>Контакти</h1>
        <div class='block-info workers'>
            <h2>Наші працівники</h2>
            <div class='worker'>
                <h4>Ігор</h4>
                <div class='worker-info'>
                    <div class='worker-info-item'>
                        <div class="icon tel"></div>
                        <a href="tel:+380961781115">+38 096 178 11 15</a>
                    </div>
                    <div class='worker-info-item'>
                        <div class="icon viber"></div>
                        <span class='text'>
                            <a class='viber-chat' href="viber://chat/?number=+380961781115">+38 096 178 11 15</a>
                            <a class='viber-add' href="viber://add/?number=380961781115">+38 096 178 11 15</a>
                        </span>
                    </div>
                    <div class='worker-info-item'>
                        <div class="icon instagram"></div>
                        <span class='text'>
                            <a href="https://www.instagram.com/denisyuk.cz.job/" target='_blank'>denisyuk.cz.job</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class='worker'>
                <h4>Олександр</h4>
                <div class='worker-info'>
                    <div class='worker-info-item'>
                        <div class="icon tel"></div>
                        
                        <a href="tel:+380978560219">+38 097 856 02 19</a>
                    </div>
                    <div class='worker-info-item'>
                        <div class="icon viber"></div>
                        <span class='text'>
                            <a class='viber-chat' href="viber://chat/?number=+380978560219">+38 097 856 02 19</a>
                            <a class='viber-add' href="viber://add/?number=380978560219">+38 097 856 02 19</a>
                        </span>
                    </div>
                    <div class='worker-info-item'>
                        <div class="icon instagram"></div>
                        <span class='text'>
                            <a href="https://www.instagram.com/denisyuk.czjob/" target='_blank'>denisyuk.czjob</a>
                        </span>
                    </div>
                    <div class='worker-info-item'>
                        <div class="icon facebook"></div>
                        <span class='text'>
                            <a href="https://www.facebook.com/profile.php?id=100030753322152" target='_blank'>Олександр Денисюк</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class='block-info'>
            <h2>Графік роботи</h2>
            <p>Понеділок - П'ятниця: з 10:00 - до 18:00</p>
            <p>Субота, Неділя - вихідні</p>
        </div>
        <div class='block-info'>
            <h2>Адреса</h2>   
            <p>Офіс знаходиться за адресою - місто Житомир, вулиця Велика Бердичівська 35а, 2 поверх</p>
            <img src="/img/office.jpg" alt="Office" class='office-img'>
        </div>
        <div class='block-info'>
            <h2>Ліцензія</h2>
            <a href="<%=process.env.DOMAIN%>/docs/license.pdf" class='license' target='_blank'>Посилання на ліценцію</a>
            <a href="https://www.msp.gov.ua/documents/4776.html" class='license' target='_blank'>Наказ Міністерства соціальної політики України</a>
        </div>
        
        <div class='block-info map'>
            <h2>Розташування</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2551.168422812267!2d28.66844201561485!3d50.2514386095658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c649a3403a81b%3A0x7ab99f41b02c47a6!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JHQtdGA0LTQuNGH0LXQstGB0LrQsNGPLCAzNSwg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAy!5e0!3m2!1sru!2sua!4v1558440538311!5m2!1sru!2sua" frameborder="0"  allowfullscreen></iframe>
        </div>
    </main> 
</div>
<%- include('part/footer-contacts')-%>