<%- include('part/header',{title:"Робота за кордоном"})-%>
<!--  -->
<%-include('part/menu/menu', {auth:true})-%>

<form
  action="/reviews/add/image"
  method="post"
  enctype="multipart/form-data"
  class="col s12 l4 offset-l4 m6 offset-m3 container"
  id="form"
>
  <h3>Додавання фото-відгуку</h3>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="title" id="title" placeholder="назва" required />
      <label for="title">Назва</label>
    </div>
  </div>
  <div class="row">
    <!-- photo -->
    <div class="file-field input-field">
      <div class="btn amber">
        <span>Фото</span>
        <input type="file" name="image" required />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" id="input" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col s12">
      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        name="action"
      >
        Надіслати
      </button>
    </div>
  </div>
</form>

<%- include('part/footer-contacts') %>
