<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <h1>Інформація про Чехію</h1>
    <div id="description">
                <p>Чеська Республіка розташована в улоговині, обрамленій з усіх боків вінцем прикордонних гір. Вузькими річковими долинами зі сходу, заходу, півдня та півночі сюди споконвіку вели торгівельні шляхи, що перетиналися в глибині країни. Тут упродовж століть перепліталися історії найбільш відомих європейських народів.</p>
        <p>У Чехії ви знайдете всі архітектурні стилі, представлені в історичних містах, фортецях і замках, пам"ятники церковного будівництва, народну архітектуру, цікаві колекції в музеях і галереях, а також унікальні технічні пам"ятники. Найбільш відомі пам"ятки -історичний центр Праги, Кутна Гора, Чески Крумлов, Телч, храм паломників Святого Яна з Непомука на Зеленій Горі, що знаходиться недалеко від Ждяра-над-Сазавою, Ледницько-Валтицький комплекс, Кромєржиж і Голашовіце в Південній Чехії по праву були занесені до списку світового культурного спадку ЮНЕСКО. Свій незабутній слід залишили тут всесвітньовідомі представники європейської і світової науки й мистецтва. Моцарт, Гете, Кафка, Бетховен, Ейнштейн, Тихо Браге, Казанова - це імена лише деяких із тих, доля яких була пов"язана з ними.</p>
        <p>Краса природи глибоко віддзеркалюється в душі народу. Прикордонні гірські області є улюбленими місцями літнього туризму й зимових видів спорту, а всіяний ставками пейзаж Південної Чехії вабить до довгих романтичних прогулянок.</p>
        <p>Народна архітектура своєрідної Волощини та південно-моравської виноробської області вважаються найбільш популярними місцями тематичних екскурсій. Люди тут дружелюбні, гостинні й наділені оригінальним почуттям гумору.</p>
        <p>У Чеській Республіці Ви завжди знайдете ідеальні умови не лише для відпочинку, спорту й пізнавальних екскурсій, але й для проведення конгресів, семінарів, наукових симпозиумів чи ділових зустрічей.</p>
        <p><strong>Основні дані про Чеську Республіку</strong></p>
        <p><strong>ПЛОЩА</strong><br /> 78.864 км2</p>
        <p><strong>СУСІДНІ ДЕРЖАВИ</strong><br /> Німеччина, Польща, Австрія, Словаччина</p>
        <p><strong>ДОВЖИНА ДЕРЖАВНОГО КОРДОНУ</strong><br /> 2.303 км.</p>
        <p><strong>КІЛЬКІСТЬ НАСЕЛЕННЯ</strong><br /> 10.300,000 чоловік</p>
        <p><strong>СТОЛИЦЯ</strong><br /> м. Прага (1,2 мли. чоловік</p>

        <p><strong>ОФІЦІЙНА МОВА</strong><br /> чеська</p>
        <p><strong>ВІРОСПОВІДАННЯ</strong><br /> переважає римсько-католицька віра (39,2%), без віросповідання (39,7%).</p>
        <p><strong>КЛІМАТ</strong><br /> помірний, з чотирма порами року, суміш океанського й континентального клімату. Взимку мінливо, влітку тепло. Середня денна температура в найхолоднішому місяці - близько -2&deg; С, а в липні - найтеплішому місяці року - +20&deg; С.</p>
        <p><strong>ПОЛІТИЧНА СИСТЕМА</strong><br /> парламентська республіка</p>
        <p><strong>ГРОШОВА ОДИНИЦ</strong><br /> Ячеська крона (Кч), 1 крона = 100 галерів. Зараз в обігу знаходяться монети вартістю в 10, 20 і 50 галерів та 1, 2, 5, 10, 20 і 50 крон, а також банкноти вартістю в 20, 50, 100, 200, 500, 1000, 2000 та 5000 крон</p>
        <p><strong>ЧАСОВИЙ ПОЯС</strong><br /> центрально-європейський час, з квітня до жовтня запроваджується літній<br /> час (ОМТ+1, ОМТ+2).</p>
        <p><strong>ВАЖЛИВІ НОМЕРИ ТЕЛЕФОНІВ<br /> Універсальний номер&nbsp;допомоги з мобільного телефону......................... 112</strong></p>
        <p><strong>поліція......................... 158<br /> пожежна охорона ...... 150</strong><br /> <strong>швидка допомога ....... 155</strong></p>

        <h2>Політична система</h2>
<p>Чехія є парламентською республікою. ЇЇ верховним законом є Конституція Чеської Республіки разом із Декларацією основних прав та свобод. Конституція у своєму сучасному вигляді діє від 1 січня 1993 року, тобто від виникнення самостійної чеської держави, яка утворилася в результаті розділення Чехословаччини. Влада поділяється на законодавчу (Парламент ЧР), виконавчу (Уряд ЧР та Президент республіки) та судову.</p>
<p><strong>Законодавча влада</strong></p>
<p>Парламент Чеської Республіки складається із двох палат &ndash; Палати депутатів та Сенату. Право обирати до Палати депутатів та Сенату має кожний громадянин, який досяг 18-річного віку.</p>
<p><strong>Палата депутатів</strong></p>
<p>Палата &nbsp;складається із 200 депутатів, які обираються на 4-річний термін на виборах. Виборча система базується на принципах пропорційного представництва. На підставі результатів цих виборів формується уряд Чеської Республіки.</p>
<p>До Палати депутатів може бути обраний кожен громадянин Чеської Республіки, який має право обирати та досяг 21-річного віку.</p>
<p>Депутати обираються як представники окремих політичний партій, після свого обрання партії у палаті створюють депутатські клуби.</p>
<p><strong>Важливі повноваження Палати депутатів:</strong></p>
<ul>
<li>розглядає та схвалює закони</li>
<li>депутат або група депутатів мають право вносити проекти законів</li>
<li>виносить рішення про форму державного бюджету</li>
<li>має право висловити недовіру уряду</li>
<li>на спільному зібранні з сенаторами депутати обирають Президента республіки</li>
</ul>
<p><strong>Сенат</strong></p>
<p>Сенат виник у 1996 році. На засадах мажоритарної виборчої системи на 6-річний термін обирається 81 член сенату. Вибори відбуваються кожні два роки, коли обирається третина нового складу. (На перших виборах до Сенату третина членів Сенату була обрана лише на два роки, третина на чотири роки та третина на шість років. На наступних виборах через два роки була переобрана третина членів Сенату з &laquo;дворічним мандатом&raquo; на нових членів, які мали мандат на шість років). До Сенату може бути обраний кожний громадянин Чеської Республіки, який має право голосу та досяг 40-річного віку.</p>
<p>Сенат створений на противагу Палаті депутатів, як елемент створення передумов більш якісного законодавчого процесу та як елемент наступництва Парламенту&nbsp; на випадок, якщо палата депутатів буде розпущена.</p>
<p><strong>Важливі повноваження Сенату:</strong></p>
<ul>
<li>розглядає та схвалює проекти законів, які отримує від Палати депутатів</li>
<li>вносить на розгляд закони</li>
<li>висловлює не(схвалення) міжнародних угод</li>
<li>висловлює не(згоду) з оголошенням воєнного стану, з перебуванням іноземних&nbsp;&nbsp; військ на території ЧР або з командируванням озброєних сил за територію ЧР</li>
<li>обирає Президента республіки на спільному засіданні обох палат</li>
<li>висловлює не(згоду) з призначенням суддів Конституційного суду</li>
<li>лише Сенат може подавати позов до Конституційного суду на Президента за державну зраду</li>
<li>подає Президентові республіки пропозиції стосовно представлення до державної нагороди</li>
<li>Сенат не має права приймати рішення стосовно державного бюджету ЧР</li>
</ul>
<p><strong>Виконавча влада</strong></p>
<p>Представниками виконавчої влади у країні є Уряд ЧР та Президент республіки.</p>
<p><strong>Уряд ЧР</strong></p>
<p>Уряд є найвищим органом виконавчої влади. Про свою діяльність він звітує перед Палатою депутатів. Складовими частинами виконавчої влади є також Міністерства та інші органи адміністративного управління. Їхню правомочність можна обмежити лише законом.</p>
<p>Діяльність уряду головним чином &nbsp;залежить від програмної декларації уряду, з яким голова уряду виступає перед Палатою депутатів. Якщо Палата програму схвалить, а її члени в голосуванні висловлять довіру уряду, уряд може починати працювати та виконувати свої правомочності.</p>
<p><strong>Президент&nbsp;</strong></p>
<p>Президент республіки є головою держави та Верховним Головнокомандуючим Збройних Сил. Президент обирається громадянами на основі загального, рівного і прямого виборчого права шляхом таємного голосування строком на п'ять років. Термін повноважень Президента починається від дня прийняття присяги.</p>
<p><strong>Важливі повноваження Президента:</strong></p>
<ul>
<li>призначає та відкликає голову та інших членів уряду й приймає їхні відставки, відкликає уряд та приймає його відставку</li>
<li>скликає засідання Палати депутатів</li>
<li>розпускає Палату депутатів</li>
<li>звільняє від відбування покарання та пом&rsquo;якшує покарання, призначене судом, дає розпорядження, щоб кримінальна справа не порушувалась, а якщо вона вже була порушена, щоб справу закрили, приймає рішення про зняття судимості (реабілітація), має право оголошувати амністію</li>
<li>має право повертати парламенту прийнятий закон, за винятком конституційного закону.</li>
<li>підписує закони</li>
</ul>
<p>Зараз Президентом ЧР є Вацлав Клаус, мандат якого закінчується в 2013 році. До нього першим президентом самостійної (незалежної) ЧР був Вацлав Гавел, який був 29 грудня 1989 року обраний Президентом Чехословаччини a до 1992 р. він був Президентом Чехословацької федерації.</p>
<p><strong>Суди</strong></p>
<p>Судову владу&nbsp; представляють від імені республіки незалежні суди. Судді при виконанні своїх обов&rsquo;язків повинні бути незалежними та їх неупередженість ніхто не має права ставити під загрозу. Система судів складається з Верховного суду, Верховного адміністративного суду, вищих, обласних та районних судів.</p>
<p>За дотримання конституції відповідає Конституційний суд, який складається з 15 судів, призначених&nbsp; на період 10 років.</p>
<p><strong>Членство в міжнародних організаціях</strong></p>
<p>Чеська Республіка є членом Організації Об&rsquo;єднаних Націй, Європейського Союзу, НАТО, Всесвітньої торгової організації, Міжнародного валютного фонду, Міжнародного банку реконструкції та розвитку, Європейського банку реконструкції та розвитку.</p>
    
    <h2>Президент Чеської Республіки</h2>
<p>Президент Чеської Pеспубліки є головою держави та Верховним Головнокомандуючим Збройних Сил. Президент обирається громадянами на основі загального, рівного і прямого виборчого права шляхом таємного голосування строком на п'ять років. Термін повноважень Президента починається від дня прийняття присяги.</p>
<p>Виконання повноважень, протоколярні зобов'язання та інші функції, пов'язані з особою президента, забезпечує&nbsp;Канцелярія президента республіки.</p>
<p><strong>Біографія президента Чеської Республіки Мілоша Земана</strong></p>

<div>
    <img src="/img/president.png" alt="president">
</div>

    <p>Народився&nbsp;<strong>28 вересня 1944 року</strong>&nbsp;в Коліні, батько &ndash; поштовий службовець, мати &ndash; вчителька. Батьки розлучилися невдовзі після його народження, тому ріс лише з матір&rsquo;ю.</p>
<p><strong>1950 &ndash; 1959</strong>&nbsp;Початкова дев&rsquo;ятирічна школа в Коліні.</p>
<p><strong>1959 &ndash; 1963</strong>&nbsp;Середня економічна школа в Коліні. За доповідь про Т.Г. Масарика йому було заборонено продовжувати навчання у вищому навчальному закладі.</p>
<p><strong>1963 &ndash; 1967</strong>&nbsp;працює на машинобудівному заводі &laquo;Татра&raquo;, Колін. При цьому з 1965 р. йому дозволено хоча б заочне навчання у Вищій економічній школі у Празі, факультет національного економічного планування.</p>
<p><strong>В 1967 році</strong>&nbsp;переходить на денну форму навчання у цьому ж закладі.</p>
<p><strong>В 1968 році</strong>&nbsp;вступає до Комуністичної партії Чехословаччини.</p>
<p><strong>В 1969 році</strong>&nbsp;закінчує з червоним дипломом з дипломною роботою на тему прогнозування (з назвою &laquo;Футурологія та майбутнє&raquo;). Цього ж року починає викладати цей предмет у Вищій економічній школі у Празі.</p>
<p><strong>В 1970 році</strong>&nbsp;був вигнаний з Комуністичної партії Чехословаччини за незгоду з радянською окупацією та початком нормалізації.</p>
<p><strong>В 1970 &ndash; 1971 рр.</strong>&nbsp;без постійного місця роботи, заробляє написанням робіт під чужим іменем.</p>
<p><strong>В 1971 році</strong>&nbsp;починає працювати на фізкультурному підприємстві &laquo;Спортпропаг&raquo;, де створив відділ комплексного моделювання під назвою &laquo;Слушовіце візкуму&raquo;.</p>
<p>Перший шлюб в&nbsp;<strong>1971 &ndash; 1978 рр</strong>., син Давід (зараз лікар).</p>
<p><strong>В 1984 році</strong>&nbsp;за наказом Комуністичної партії Чехословаччини відділ комплексного моделювання закрито за нібито антипартійну збірку &laquo;Методологічні проблеми громадсько-наукових досліджень&raquo;, знову звільнений з роботи.</p>
<p>В&nbsp;<strong>1984 році</strong>&nbsp;починає працювати на сільськогосподарському підприємстві &laquo;Агродат&raquo;, де займається статистичними моделями сільськогосподарських систем.</p>
<p>В&nbsp;<strong>1986 році</strong>&nbsp;стає членом Світового прогностичного товариства (World Futures Research Society).</p>
<p>У жовтні&nbsp;<strong>1989 року</strong>&nbsp;втретє звільнений з роботи за попередню статтю &laquo;Прогнозування та перебудова&raquo;, опублікований в Технічному журналі.</p>
<p>Бере участь у демонстрації&nbsp;<strong>17 листопада 1989 року</strong>&nbsp;на Національному проспекті, укінці листопада &ndash; на початку грудня виступає на демонстраціях на Летній, на бесідах у театрах та вищих навчальних закладах.</p>
<p>Із січня&nbsp;<strong>1990 року</strong>&nbsp;працює в Інституті прогнозування Чехословацької Академії Наук. Укінці січня 1990 року від Громадського Форуму був кооптований до Федеральних зборів.</p>
<p>У червні&nbsp;<strong>1990 року</strong>&nbsp;знову обраний депутатом Федеральних зборів від Громадського Форуму, стає головою бюджетного комітету та членом президії Федеральних зборів.</p>
<p>На виборах&nbsp;<strong>1992 року</strong>&nbsp;бере участь у виборах як кандидат від Чеської соціал-демократичної партії, до якої перейшов після розпаду Громадського Форуму, знову обраний депутатом Федеральних зборів.</p>
<p>У лютому&nbsp;<strong>1993 року</strong>&nbsp;обраний головою Чеської соціал-демократичної партії. Ця партія, яка на виборах в 1992 р. отримала 7% голосів виборців, на виборах в 1996 р. вже мала 27%, а на виборах в 1998 році &ndash; 32% голосів. На посаду голови Чеської соціал-демократичної партії повторно обирався в 1995, 1997 та 1999 роках. В 2001 році відмовився очолити цю партію, мотивуючи своє рішення тим, що виконав своє завдання, посприявши становленню Соціальної демократії на позицію найсильнішої партії в Чеській Республіці.</p>
<p>Другий шлюб&nbsp;<strong>1993 &ndash; дотепер</strong>, дочка Катержіна (зараз студентка гімназії)</p>
<p><strong>В 1996 &ndash; 1998 рр.</strong>&nbsp;обраний головою Палати депутатів Парламенту Чеської Республіки. На цій посаді намагався налагодити рівноправну співпрацю усіх парламентських партій, в тому числі, звичайно, найсильніших.</p>
<p><strong>В 1998 р.</strong>&nbsp;призначений головою уряду Чеської Республіки. Цей уряд прийняв країну в часи економічної кризи, яка проявлялася спадом ВВП та реальних зарплат. До 2002 року країну вдалося вивести з цієї кризи, підвищилася економічна ефективність і життєвий рівень, учетверо збільшився приплив прямих закордонних інвестицій, інфляція впала з 10% до 3%, запроваджено професійну армію, проведено реформу публічної адміністрації, приватизовано банківський сектор. В 2000 &ndash; 2002 рр. уряд поступово знижував дефіцит державного бюджету, який в 2002 році досягнув рівня 46 мільярдів крон.</p>
<p>В&nbsp;<strong>2002 році</strong>&nbsp;відмовився кандидувати на голову уряду, посилаючись на те, що виконав своє завдання &ndash; виведення країни з економічної кризи.</p>
<p>Восени&nbsp;<strong>2002 р.</strong>&nbsp;члени та прихильники Соціальної демократії у двох всенародних опитуваннях закликали Мілоша Земана кандидувати на посаду президента Чеської Республіки.</p>
<p><strong>В 2003 р.</strong>&nbsp;не був обраний президентом Чеської республіки через те, що проти нього голосувало 27 депутатів Чеської соціал-демократичної партії.</p>
<p>З&nbsp;<strong>2003 року</strong>&nbsp;постійно проживає як пенсіонер за віком у двох жилих приміщеннях старої фортеці на Височині.</p>
<p>В&nbsp;<strong>2005 році</strong>&nbsp;видає книгу &laquo;Як я помилився у політиці&raquo;, яка у кількості 135&nbsp;000 проданих примірників стала найуспішнішою з його книг і була проголошена бестселером року.</p>
<p>В&nbsp;<strong>2006 році</strong>&nbsp;активно підтримував Соціальну демократію під час виборчої кампанії, але відмовився від пропозиції тодішнього голови Їржі Пароубка кандидувати на посаду президента республіки, посилаючись на свій досвід у президентських виборах 2003 року.</p>
<p>В березні&nbsp;<strong>2007 р.</strong>&nbsp;виходить із Соціальної демократії через незгоду з політикою голови Чеської соціал-демократичної партії Їржі Пароубка.</p>
<p>В грудні&nbsp;<strong>2009 року</strong>&nbsp;започатковує Партію Прав Громадян, а на березневому з&rsquo;їзді 2010 обраний її головою. На виборах у травні 2010 р. ця партія отримує 4,3% голосів виборців. Через те, що не виконав своєї обіцянки перевищити п&rsquo;ятивідсотковий поріг, відмовляється від посади голови Партії Прав Громадян. На з&rsquo;їзді партії в листопаді 2010 р. був обраний почесним головою, яким є дотепер.</p>
<p>В червні 2012 р. першим з усіх потенційних кандидатів отримав у петиції 50&nbsp;000 підписів громадян, необхідних для кандидатури президента Чеської Республіки.</p>
<p>У другому турі перших в історії прямих виборів президента Чеської Республіки Мілош Земан із результатом 54,8% голосів став президентом Чеської Республіки.</p>
<p>Вступив на пост президента Чеської Республіки 8 березня 2013 року в Празі.</p>
<p>На виборах президента Чехії у січні&nbsp;2018 році був переобраний&nbsp;президентом Чеської Республіки.</p>
    </div> 
</div>




<%- include('../part/footer')-%>