<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <main>

        <h1>Перспектива для Українців</h1>
        <div id="description">
            <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">Item 1</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2">Item 2</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3">Item 3</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck4">
                    <label class="tab-label" for="chck4">Item 4</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck5">
                    <label class="tab-label" for="chck5">Item 5</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck6">
                    <label class="tab-label" for="chck6">Item 6</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck7">
                    <label class="tab-label" for="chck7">Item 7</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck8">
                    <label class="tab-label" for="chck8">Item 8</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
                 <div class="tab">
                    <input type="checkbox" id="chck9">
                    <label class="tab-label" for="chck9">Item 9</label>
                    <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                </div>
             </div>
        </div>
    </main>
</div>
<%- include('../part/footer')-%>