<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <main>

        <h1>Запитання - Відповідь</h1>
        <div id="description">
            <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">Що потрібно для оформлення документів?</label>
                    <div class="tab-content">
                    Потрібно мати закордонний паспорт та паспорт громадянина України з
                    дійсною пропискою, а також індефікаційний код
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2">Який термін виготовлення документів?</label>
                    <div class="tab-content">
                    Термін виготовлення документів від 2 місяців, залежно від набору по
вакансіях.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3">Що входить в пакет документів?</label>
                    <div class="tab-content">
                    Повний пакет документів для відкриття робочої візи: договір з
роботодавцем,запрошення,бронювання житла,анкета для візового центру та
страхівка.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck4">
                    <label class="tab-label" for="chck4">Які мої дії по приїзду в Чехію?</label>
                    <div class="tab-content">
                    По приїзду вас зустрічає координатор, супроводжує до місця проживання та
інструктує з приводу першого робочого дня. Координатор закріплюється за
вами на весь період роботи.

                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck5">
                    <label class="tab-label" for="chck5">Чи обов’язково знати мову?</label>
                    <div class="tab-content">
                    Знання мови не є обов’язковим, координатори україномовні також на
кожному підприємстві є перекладач
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck6">
                    <label class="tab-label" for="chck6">Які умови проживання?</label>
                    <div class="tab-content">
                    Гуртожитки сімейного типу,квартири,або часні будинки.заселення по 3-4
людини. Сімейні пари мають окремі кімнати. Спільна кухня,с\у,пральна
машинка.

                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck7">
                    <label class="tab-label" for="chck7">Чи можна відкрити чеську робочу візу якщо я маю відкриту польську?</label>
                    <div class="tab-content">
                    Для відкриття нової візи потрібно анулювати попередню візу. Для цього
потрібно звернутися у консульство Польщі в Україні та подати заяву на
ануляцію. Цей процес займає до 7 робочих днів. 
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck8">
                    <label class="tab-label" for="chck8">На який термін відкривається віза?</label>
                    <div class="tab-content">
                    Віза відкривається на 3 місяці(90 днів). Чехія працює по 3-х місячних або по
2-х річних візах
                    </div>
                </div>
                 <div class="tab">
                    <input type="checkbox" id="chck9">
                    <label class="tab-label" for="chck9">Чи можу я подавати заяву на отримання візи терміном більше, ніж 90 днів до Візового
                        центру?</label>
                    <div class="tab-content">
                    Ні. До Візового Центру Ви можете подати документи лише на отримання короткотривалої візи.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck10">
                    <label class="tab-label" for="chck10">Чи потрібно мені купувати поліс медичного страхування до отримання візи?</label>
                    <div class="tab-content">
                   Так. Вам необхідно надати підтвердження того, що Ви маєте поліс медичного страхування на весь
період запланованого перебування в Шенгенській зоні.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck11">
                    <label class="tab-label" for="chck11">Чи може Візовий Центр надіслати паспорт з готовою візою?</label>
                    <div class="tab-content">
                   Так. Під час подачі документів до Візового центру Ви можете замовити послугу кур’єрської
доставки.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck12">
                    <label class="tab-label" for="chck12">В разі відмови, чи буде мені повернено суму візового збору?</label>
                    <div class="tab-content">
                   Ні. Візовий збір покриває витрати, пов’язані з розглядом документів, незважаючи на кінцевий
результат.

                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck13">
                    <label class="tab-label" for="chck13">В яких випадках мені може бути відмовлено в прийомі документів?</label>
                    <div class="tab-content">
                   Згідно ст. 19 шенгенського Візового кодексу для того, щоб візову заяву було прийнято до розгляду,
вона має відповідати мінімальним вимогам:
Заява має бути подана не більш ніж за три місяці до запланованої поїздки, наприклад, якщо Ви
плануєте подорожувати з 01.07. до 01.08., то свою заяву Ви можете подавати не раніше, ніж 01.04.
Згідно з рішенням, прийнятим Міністерством закордонних справ Чеської Республіки, з 18 квітня
2011р. в третіх країнах, де Чеська Республіка має кілька представницьких органів, заявники можуть
подавати заяву на видачу візи тільки в той представницький орган, в рамках консульського округу
якого вони мають дозвіл на постійне або тимчасове проживання.
Консульські округи представницьких та консульських установ Чеської Республіки в Україні
визначені наступним чином:
Консульський відділ Консульства Чеської Республіки в Києві:
Вінницька, Житомирська, Київська, Кіровоградська, Миколаївська, Одеська, Полтавська, Сумська,
Хмельницька, Черкаська, Чернігівська, Донецька, Дніпропетровська, Запорізька, Луганська,
Харківська, Херсонська області, а також Севастополь і Автономна Республіка Крим.
Заявники, які проживають в даних областях, можуть подати документи до Візового Центру м. Київ,
Одеса, Харків чи Дніпро.
Генеральне Консульство Чеської Республіки у Львові:
Волинська, Івано-Франківська, Львівська, Закарпатська, Рівненська, Тернопільська та Чернівецька
області.
Заявники, які проживають в даних областях, можуть подати документи до Візового Центру м.
Львів, Івано-Франківськ або Ужгород.
Заява має містити:
- повністю заповнену латинським шрифтом (abcdefg), ні в якому разі не кирилицею (абвгдж) і
підписану анкету «Заява на отримання Шенгенської візи»;
дійсний і не пошкоджений закордонний паспорт термін дії якого повинен бути не менше ніж три
місяці після дати запланованого повернення, виданий не більш ніж десять років тому;
фотографії такого формату: зроблено максимально шість місяців тому, чітке зображення
незакритого обличчя, дивиться прямо в об'єктив.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck14">
                    <label class="tab-label" for="chck14">В яку страхову компанію я можу звернутися для оформлення страхового поліса?</label>
                    <div class="tab-content">
                   Ви можете звернутися в будь-яку страхову компанію, яка має акредитацію. 
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck15">
                    <label class="tab-label" for="chck15">Чи можу я перенести візу з одного паспорта в інший?</label>
                    <div class="tab-content">
                   Ні, така процедура відсутня. В такому випадку необхідно подавати документи на відкриття нової
візи.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck16">
                    <label class="tab-label" for="chck16">Яку мені обрати візову категорію, якщо я планую відвідати Чеську Республіку з метою
працевлаштування терміном перебування до 90 днів в 180-денний термін?</label>
                    <div class="tab-content">
                   Для даної мети подорожі заявник готує стандартний пакет документів. Для підтвердження мети
поїздки необхідно надати «Дозвіл на роботу» та копію контракту. 
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck17">
                    <label class="tab-label" for="chck17">Якщо у запрошенні допущена помилка в моїх паспортних даних , чи можу я надати таке
                        запрошення?
                    </label>
                    <div class="tab-content">
                   Ні, у запрошенні не має бути допущено жодної помилки.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck18">
                    <label class="tab-label" for="chck18">Де я можу отримати інформацію стосовно отримання довготермінової візи до ЧР?</label>
                    <div class="tab-content">
                   Візовий Центр приймає документи лише на короткострокову візу. Для отримання інформація щодо
                    візи Д  <a href="http://www.mzv.cz/kiev/uk/x2004_09_06/vizova_informace/dlouhodoba_viza_a_pobyty/index.html" target='_blank'>натисніть тут</a> .
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck19">
                    <label class="tab-label" for="chck19">Чи є процедура пришвидшеного розгляду документів?</label>
                    <div class="tab-content">
                   Ні, така процедура відсутня. Документи розглядаються в середньому 7-10 календарних днів, але
термін розгляду може бути продовжений до 30 днів і більше на розсуд Консульства Чеської
Республіки та без пояснення причин.

                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck20">
                    <label class="tab-label" for="chck20">Якщо я подав візову заяву досить давно, а мій паспорт все ще знаходиться на розгляді у
Консульстві Чеської Республіки, що мені робити?</label>
                    <div class="tab-content">
                   Консульство Чеської Республіки може розглядати візову заяву 7-10 календарних днів або довше до
30 днів і більше на власний розсуд та без пояснення причини. Візовий центр не має права впливати
на термін розгляду візової заяви, так само і на пришвидшення розгляду заяви. Щоб отримати
детальну інформацію, будь ласка, відвідайте <a href="http://www.mzv.cz/kiev/uk/x2004_09_06/vizova_informace/x2014_11_05/x2014_11_08.html" target='_blank'> офіційний сайт Консульства Чеської Республіки</a>.
                    </div>
                </div>
             </div>
        </div>
    </main>
</div>
<%- include('../part/footer')-%>