<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <h1>Перспектива для Українців</h1>
    <div id="description">
<p>Роботодавці Чехії звернулися до уряду країни з проханням дозволити тимчасовий набір працівників з України в зв'язку з нестачею робочих рук.</p>
<p>Катастрофічна нестача робочої сили в країнах Східної Європи змушує роботодавців і уряду йти на крайні заходи - запрошувати робочу силу з сусідніх країн, в тому числі з України. Так, наприклад, у сусідній Польщі вже офіційно працюють від 600 до 800 тисяч українців, ще стільки ж працевлаштовані нелегально. Не виключено, що найближчим часом ще 140 тисяч працівників запросить до себе Чехія.</p>
<p>&nbsp;</p>
<p>"В минулому році квоти були вичерпані до червня, а оформлення робочої карти для одного заявника займає до шести місяців", - говориться в повідомленні.</p>
<p><br /> На сьогоднішній день чеські компанії пропонують 140 тисяч вакансій, а в рамках нинішнього так званого "режиму" Україна "щорічно встановлюється квота лише на 3800 працівників. Чеський Союз підприємців закликав уряд прискорити обробку заявок компаній на робочу силу з України і збільшити квоти на працевлаштування наших громадян. У свою чергу місцеві профспілки протестують проти такої ініціативи і вважають, що бізнес просто хоче заощадити, отримавши більш дешеву робочу силу. Вони вимагають підвищувати зарплату чехам.</p>
<p>- Часто при пошуку професійних робітничих професій стикаєшся з зарплатою близько 12 тисяч крон ($ 475) (при восьмигодинному&nbsp; робочому дню). За ці гроші чехам&nbsp; прожити складно. І ясна річ, що навряд чи він погодиться на такі умови. Якщо через місяць місце не зайняте, то компанія може найняти іноземного працівника, - заявив голова Чесько-моравської конфедерації профспілок Йозеф Стредула.</p>
<p>&nbsp;</p>
<p>Як розповіли нам в фірмах з працевлаштування українців за кордоном, середня зарплата в Чехії істотно вище, ніж в Польщі. Але потрапити туди складніше. Тому українці часто хитрують: оформляючи польську робочу візу, вони в'їжджають спочатку в Польщу, а потім переїжджають в Чехію. Так, при дванадцятигодинному&nbsp; робочому&nbsp; дні &nbsp;робочим на фабриках Польщі платять близько 500 доларів на місяць, а на чеських підприємствах &ndash; 900-1300 доларів.</p>
<p><strong>ДО РЕЧІ</strong></p>
<p><strong>Хто замінить виїхавших поляків і чехів</strong></p>
<p>Європейські рекрутери наводять такі цифри. Потенціал ринку праці тільки двох країн - Нідерландів і Німеччини до 2022 року складе близько 5,5-6 млн вакансій. Вони будуть частково закриті за рахунок поляків і чехів, а це призведе до того, що через п'ять років в Польщі і Чехії буде близько 2,5-3 мільйонів вакансій. Більшість з них будуть заміщати саме за рахунок українців.</p>
<p><strong>Чехія хоче прискорити процес працевлаштування іноземців через рекордний дефіцит робочих рук</strong></p>
<p>Уряд Чехії готує програму, яка дозволить значно прискорити працевлаштування українців. Про це заявив міністр праці і соціальних справ Чеської Республіки Ярослава Нємцова.</p>
<p>Нємцова відвідала Україну, щоб домовитися про спрощення і прискорення процедури оформлення дозволу на роботу. Зокрема, Чехія планує збільшити кількість робочої сили з України до 19,6 тис. Осіб з правом працевлаштування на два роки. За словами міністра, в Чехії зараз кількість вакансій досягло рекордного рівня - близько 260 тис. Незайнятих робочих місць. Це, перш за все медсестри і працівники соціальної сфери, а також робочі середньої технічної кваліфікації і будівельники, уточнила вона.За даними чеського уряду, в Чехії працюють 374 тис. Іноземців, з них - 70 тис. Українців, 280 тис. - громадяни ЄС і близько 94 тис. - мають громадянство інших країн Європи і Азії.</p>
    </div> 
</div>




<%- include('../part/footer')-%>