<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <h1>Працевлаштування до 90 днів</h1>
    <div id="description">
    <h2>ЗАГАЛЬНА ІНФОРМАЦІЯ</h2>
<p>Цей тип візи відноситься до тих заявників, які планують відвідати Чеську Республіку з метою працевлаштування до 90 днів.&nbsp;<br /> <br /> Дана віза дає право громадянам України та громадянам інших країн, які легально проживають в Україні, відвідати Чеську Республіку протягом обмеженого періоду часу, що не перевищує 90 днів в 180-денний термін.<br /> <br /> З 23 червня 2015 року діє правило особистої подачі документів. Усі заявники мають з'явитися до Візового Центру та надати свої біометричні дані- відбитки пальців.</p>
<p>Винятки від зобов'язання надавати відбитки пальців стосуються таких категорій:</p>
<ul>
<li>Діти, молодші 12 років;</li>
<li>Особи, у яких фізично неможливо взяти відбитки пальців;</li>
<li>Голови держави та члени національних урядів (а також члени їхніх офіційних делегацій та їхні чоловіки/дружини), якщо вони подорожують з офіційними цілями.</li>
</ul>
<p>Згідно з рішенням, прийнятим Міністерством закордонних справ Чеської Республіки, з 18 квітня 2011р. в третіх країнах, де Чеська Республіка має кілька представницьких органів, заявники можуть подавати заяву на видачу візи тільки в той представницький орган, в рамках консульського округу якого вони мають дозвіл на постійне або тимчасове проживання.&nbsp;<br /> <br /> Консульські округи представницьких та консульських установ Чеської Республіки в Україні визначені наступним чином:</p>
<ol>
<li><strong>Консульський відділ Консульства Чеської Республіки в Києві:</strong><br /> <br /> Вінницька, Житомирська, Київська, Кіровоградська, Миколаївська, Одеська, Полтавська, Сумська, Хмельницька, Черкаська, Чернігівська, Донецька, Дніпропетровська, Запорізька, Луганська, Харківська, Херсонська області, а також Севастополь і Автономна Республіка Крим.&nbsp;<br /> <br /> Заявники, які проживають в даних областях, можуть подати документи до Візового Центру м. Київ, Одеса, Харків чи Дніпро.</li>
<li><strong> Генеральне Консульство Чеської Республіки у Львові:</strong><br /> <br /> Волинська, Івано-Франківська, Львівська, Закарпатська, Рівненська, Тернопільська та Чернівецька області.&nbsp;<br /> <br /> Заявники, які проживають в даних областях, можуть подати документи до Візового Центру м. Львів, Івано-Франківськ або Ужгород.</li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><h2>РОЗТАШУВАННЯ</h2></p>
<p>Візові Центри Консульства Чеської Республіки працюють з 8.30 до 15.30 з понеділка по п'ятницю, крім вихідних та святкових днів.</p>
<p>Подати візові заяви можливо як за попереднім записом, так і без в усіх Візових Центрах Чеської Республіки в Україні.Щоб подати Ваш паспорт та необхідні документи, відвідайте наші офіси за наступними адресами:</p>
<p><strong>КИЇВ</strong></p>
<p><strong>Адреса:</strong><br /> Площа Спортивна, 1А Бізнес-центр &laquo;Гулівер&raquo;, 8 поверх (вхід в торговий центр)&nbsp;<br /> Київ, 01001</p>
<p>&nbsp;</p>
<p><strong>ДНІПРО</strong></p>
<p><strong>Адреса:</strong><br /> Проспект Дмитра Яворницького 22, ТЦ &laquo;Атріум&raquo;, 2 поверх<br /> Дніпро, 49000</p>
<p>&nbsp;</p>
<p><strong>ОДЕСА</strong></p>
<p><strong>Адреса:<br /> </strong>Вул. Канатна, 22<br /> Одеса, 65014</p>
<p><strong>ХАРКІВ</strong></p>
<p><strong>Адреса:<br /> </strong>Бізнес Центру &laquo;Радмир Експохолл&raquo;, вул. Академіка Павлова, 271</p>
<p><strong>ЛЬВІВ</strong></p>
<p><strong>Адреса:<br /> </strong>&nbsp;вул. Джерельна, 18</p>
<p><strong>УЖГОРОД</strong></p>
<p><strong>Адреса:</strong><br /> Вул.&nbsp; Капушанська, 92&nbsp;<br /> Ужгород, 88000</p>
<p><strong>ІВАНО-ФРАНКІВСЬК</strong></p>
<p><strong>Адреса:</strong><br /> Вул. Тролейбусна 4А<br /> Івано-Франківськ</p>
<p>&nbsp;</p>
<p>Зверніть ,будь-ласка, увагу на те, що Вам не потрібно призначати дату подачі документів у Візовий Центр для отримання консультації.</p>
<p><strong>Документи для отримання чеської візи необхідно подавати до Візового Центру того округу, де Ви прописані.</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    </div> 
</div>



<%- include('../part/footer')-%>