<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <main>
        <h2> ЗАПРОШЕННЯ ДЛЯ ВІДКРИТТЯ ВІЗИ ДО ПОЛЬЩІ: </h2>
        <p><strong> ПІВРІЧНА </strong></p>
        <ul>
            <li> 1000 грн термін 10 - 14 днів. </li>
            <li> АНКЕТА + СТРАХОВИЙ ПОЛІС 664 грн </li>
        </ul>
        <p><strong> РІЧНА (ВОЄВОДА) </strong></p>
        <ul>
            <li> 250євро термін 30-45 днів. </li>
            <li> АНКЕТА + СТРАХОВИЙ ПОЛІС 1091 грн </li>
        </ul>
        <p><strong>СЕЗОННА </strong></p>
        <ul>
            <li> 1800 грн термін до 25 днів </li>
            <li> АНКЕТА + СТРАХОВИЙ ПОЛІС від 664 до 1091 грн в залежності від необхідності </li>
        </ul>
        
        <h2>ЧЕСЬКА РОБОЧА ВІЗА БЕЗ ПРИВЯЗКИ ДО РОБОТОДАВЦЯ: </h2>
        <p> ТЕРМІН ВИГОТОВЛЕННЯ  - 6  РОБОЧИХ ТИЖНІВ </p>
        <p> ВАРТІСТЬ: 150ЄВРО (анкета + медичний поліс 190євро) </p>
        <table class='table-services'>
            <thead>
                <tr>
                    <td colspan="5" >
                        <p><strong> Актуальні ціни на медичне страхування від компанії «PZU» для подорожі за кордон, роботи на території країн шенгенської зони,
                                а також Польщі! </strong></p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p>№</p>
                    </td>
                    <td colspan="2">
                        <p>Вартість страхового полісу особам, що не досягли 25 років</p>
                    </td>
                    <td colspan="2" >
                        <p>Вартість страхового полісу особам, що виповнилося 25 років</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Термін перебування</p>
                    </td>
                    <td>
                        <p>Мінімальна вартість</p>
                    </td>
                    <td >
                        <p>Термін перебування</p>
                    </td>
                    <td >
                        <p>Мінімальна вартість</p>
                    </td>
                </tr>
                 </thead>
                <tbody>
                <tr>
                    <td >
                        <p>1.</p>
                    </td>
                    <td >
                        <p>30 днів</p>
                    </td>
                    <td >
                        <p>245,00</p>
                    </td>
                    <td >
                        <p>30 днів</p>
                    </td>
                    <td >
                        <p>267,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>2.</p>
                    </td>
                    <td >
                        <p>60 днів</p>
                    </td>
                    <td >
                        <p>328,00</p>
                    </td>
                    <td >
                        <p>60 днів</p>
                    </td>
                    <td >
                        <p>359,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>3.</p>
                    </td>
                    <td >
                        <p>90 днів</p>
                    </td>
                    <td >
                        <p>436,00</p>
                    </td>
                    <td >
                        <p>90 днів</p>
                    </td>
                    <td >
                        <p>479,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>4.</p>
                    </td>
                    <td >
                        <p>187 днів</p> 
                        <p>(півроку)</p>
                    </td>
                    <td >
                        <p>603,00</p>
                    </td>
                    <td >
                        <p>187 днів 
                        <p>(півроку)</p>
                    </td>
                    <td >
                        <p>664,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>5.</p>
                    </td>
                    <td >
                        <p>366 днів</p>
                        <p>(рік)</p>
                    </td>
                    <td >
                        <p>987,00</p>
                    </td>
                    <td >
                        <p>366 днів</p>
                        <p>(рік)</p>
                    </td>
                    <td >
                        <p>1091,00</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

</div>




<%- include('../part/footer')-%>