<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <main>
        <table class='table-services'>
            <thead>
                <tr>
                    <td colspan="7">
                        <p><strong>ЗАПРОШЕННЯ ДЛЯ ВІДКРИТТЯ ВІЗИ ДО ПОЛЬЩІ</strong></p>
                    </td>
                </tr>
            </thead>
            <tbody>    
                <tr>
                    <td rowspan="3">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>1.</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>ПІВРІЧНА 180/180</p>
                        <p>(без анкети та страхового полісу)</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>1 шт.</p>
                        <p>1600 грн</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Термін виготовлення 10-14 робочих днів</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Оплата двома частинами</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При подачі</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При отриманні</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>&nbsp;</p>
                        <p>ПІВРІЧНА 180/360</p>
                        <p>(без анкети та страхового полісу)</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>1 шт.</p>
                        <p>1600 грн</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Термін виготовлення 10-14 робочих днів</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Оплата двома частинами</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При подачі</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При отриманні</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="6">
                        <p>АНКЕТА + СТРАХОВИЙ ПОЛІС 664 ГРН</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>2.</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>РІЧНА (ВОЄВОДА)</p>
                        <p>(без анкети та страхового полісу)</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>1 шт.</p>
                        <p>300 євро</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Термін виготовлення 30-45 днів</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Оплата двома частинами</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При подачі</p>
                        <p>150 євро</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При отриманні</p>
                        <p>150євро</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>АНКЕТА + СТРАХОВИЙ ПОЛІС 1100 ГРН</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>3.</p>
                    </td>
                    <td>
                        <p>СЕЗОННА</p>
                        <p>на 9 місяців</p>
                        <p>(без анкети та страхового полісу)</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>1 шт.</p>
                        <p>2000грн</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Термін виготовлення до 25 днів</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Оплата двома частинами</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При подачі</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При отриманні</p>
                        <p>50%</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>АНКЕТА + СТРАХОВИЙ ПОЛІС 1100 ГРН</p>
                    </td>
                </tr>
                <tr >
                    <td colspan="7" class='dark-orange'>
                        <p><strong>ЧЕСЬКА РОБОЧА ВІЗА БЕЗ ПРИВ'ЯЗКИ ДО РОБОТОДАВЦЯ</strong></p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>4.</p>
                    </td>
                    <td>
                        <p>ЧЕСЬКА РОБОЧА ВІЗА</p>
                        <p>(без анкети та страхового полісу)</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>1 шт.</p>
                        <p>165 євро</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Термін виготовлення 6 тижнів</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>Оплата двома частинами</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При подачі</p>
                        <p>100 євро</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <p>При отриманні 65 євро</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>АНКЕТА + СТРАХОВИЙ ПОЛІС 600 ГРН</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class='table-services'>
            <thead>
                <tr>
                    <td colspan="5" >
                        <p><strong>Актуальні ціни на медичне страхування від компанії «PZU» для подорожі за кордон, роботи на території країн шенгенської зони,
                                а також Польщі!</strong></p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p>№</p>
                    </td>
                    <td colspan="2">
                        <p>Вартість страхового полісу особам, що не досягли 25 років</p>
                    </td>
                    <td colspan="2" >
                        <p>Вартість страхового полісу особам, що виповнилося 25 років</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Термін перебування</p>
                    </td>
                    <td>
                        <p>Мінімальна вартість</p>
                    </td>
                    <td >
                        <p>Термін перебування</p>
                    </td>
                    <td >
                        <p>Мінімальна вартість</p>
                    </td>
                </tr>
                 </thead>
                <tbody>
                <tr>
                    <td >
                        <p>1.</p>
                    </td>
                    <td >
                        <p>30 днів</p>
                    </td>
                    <td >
                        <p>245,00</p>
                    </td>
                    <td >
                        <p>30 днів</p>
                    </td>
                    <td >
                        <p>267,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>2.</p>
                    </td>
                    <td >
                        <p>60 днів</p>
                    </td>
                    <td >
                        <p>328,00</p>
                    </td>
                    <td >
                        <p>60 днів</p>
                    </td>
                    <td >
                        <p>359,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>3.</p>
                    </td>
                    <td >
                        <p>90 днів</p>
                    </td>
                    <td >
                        <p>436,00</p>
                    </td>
                    <td >
                        <p>90 днів</p>
                    </td>
                    <td >
                        <p>479,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>4.</p>
                    </td>
                    <td >
                        <p>187 днів</p> 
                        <p>(півроку)</p>
                    </td>
                    <td >
                        <p>603,00</p>
                    </td>
                    <td >
                        <p>187 днів 
                        <p>(півроку)</p>
                    </td>
                    <td >
                        <p>664,00</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>5.</p>
                    </td>
                    <td >
                        <p>366 днів</p>
                        <p>(рік)</p>
                    </td>
                    <td >
                        <p>987,00</p>
                    </td>
                    <td >
                        <p>366 днів</p>
                        <p>(рік)</p>
                    </td>
                    <td >
                        <p>1091,00</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

</div>




<%- include('../part/footer')-%>