<%- include('../part/header',{title:"Робота за кордоном"})-%>
<%- include('../part/menu')-%>

<div id="info-text">
    <main>

        <h1>Віза по програмі Режим Україна</h1>
        <div id="description">
            <p>Що ви отримаєте з 2-х річною візою по програмі "Режим Україна"</p>
            <p>1.Дозвіл на проживання в Чехії<br /> 2.Еміграція в Чехію<br /> 3.Офіційне працевлаштування в Чехії<br /> 4.Возз&rsquo;єднання родини<br /> 5.Навчання дітей в навчальних закладах та вузах Чехії<br /> 6.Продовження 2-х річної візи по закінченню не виїзжаючи с Чехії<br /> 7.Постійне місце проживання в Чехії через 5 років по 2-х річній карті<br /> 8.Громадянство Чехії через 10 років</p>
            <p>На нашому сайті ви можете знайти вакансії за &nbsp;яким роботодавець відкриває 2-річну візу по програмі "Режим Україна" . Інформуємо вас про те, що <strong>через урядовий проект "</strong><a href="https://www.mzv.cz/lvov/uk/x2004_02_03/x2016_05_18/x2016_08_03.html">Режим Україна</a><strong>";</strong><strong>&nbsp;заявку на включення до проекту подає майбутній роботодавець заявника у Чехії</strong>;<strong>&nbsp;<strong>заявники не реєструються</strong></strong>&nbsp;<strong>(їх реєструє майбутній роботодавець у Чехії),&nbsp;<strong>але очікують, доки консульство чи відповідальний представник роботодавця призначить їм конкретний термін подачі заяви.</strong></strong><strong> Тому пропозиції, де вам пропонують в Україні відкрити 2-х річну візу не можуть бути 100% надійними, будьте уважні і обережні при виборі такої послуги. </strong></p>
            <p>&nbsp;Щоб переглянути вакансії перейдіть за посиланням &laquo;вакансії з можливістю відкриття 2-х річних віз&raquo;</p>
        </div>

        <section id="vacancies">
            <h2>Актуальні вакансії</h2>
                <article class="vacancy">
                    <div class="vacancy-info">
                            <h3 class="vacancy-title">Локсес</h3>
                            <div class="location">
                                <img src="/img/location-icon.png" alt="location-icon" class="location-icon">
                                <span class="location-text">Плзень/Чехія</span>
                            </div>
                            <div class="vacancy-payment">
                                    <img src="/img/money-icon.png" alt="payment-icon" class="payment-icon">
                                <span class="payment-text">110 крон/год</span>
                            </div>
                            <a href="/vacancies/Lokses">Детальніше...</a>
                    </div>
                    
                    <img src="/img/little/3S200990loc.jpg" alt="vacancy photo" class="vacancy-img">
                 </article>
                 <article class="vacancy">
                    <div class="vacancy-info">
                            <h3 class="vacancy-title">М'ясокомбінат</h3>
                            <div class="location">
                                <img src="/img/location-icon.png" alt="location-icon" class="location-icon">
                                <span class="location-text">околиці Праги, Старий Вестик</span>
                            </div>
                            <div class="vacancy-payment">
                                    <img src="/img/money-icon.png" alt="payment-icon" class="payment-icon">
                                <span class="payment-text">130 крон/год</span>
                            </div>
                            <a href="/vacancies/M'yasokombіnat">Детальніше...</a>
                    </div>
                    
                    <img src="/img/little/photo_1463507638.jpg" alt="vacancy photo" class="vacancy-img">
                 </article>
        </section>
    </main>

</div>




<%- include('../part/footer')-%>