html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(236, 236, 236);
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url("/img/header-bg3.jpg");
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-wrapper{
    background-color: #9e9e9e;
    height: 75px;
    /* margin-bottom: -18px; */
}
menu{
    
    display: flex;
    margin: 0 auto;
    width:70%;
    padding: 0;
    font-size: 16pt;
    color:#fafafa;
    /* font-family: Arial, Helvetica, sans-serif; */
    
    height: 75px;
    line-height: 70px;
    justify-content: center;
}
 
.menu-item.list-menu{
    overflow: hidden;
    position: relative;
    text-align: center;
}
.menu-item.list-menu:hover{
    overflow: visible;
    height: max-content;/*75+45*5-10*/
    background-color: #d36e16;
}
.menu-item:hover{
    background-color:#d36e16;
}
.menu-item.list-menu ul{
    list-style: none;
    line-height: 45px;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
    font-size: 13pt;

}
.list-menu .list-item{
    text-align: center;
    line-height: 35px;
    max-width: 144px;
    border-bottom: 1px solid rgb(150, 87, 0);


}
.list-menu .list-item:last-child{
    border: none;
}
.list-menu .list-item:hover{
    background-color: #df8a0c;
}
.list-menu .list-item a{
    padding: 0;
} 
.menu-item a{
    display: block;
    text-decoration: none;
    color:white;
}
.menu-item> a{
   height: 75px;
   padding:0 15px;
}
.menu-item a:active{
    color:grey
}

header .main-title{
    text-transform: uppercase;
    font-size: 75pt;
    text-align: center;
    background-color: rgba(200,200,200,0.85);
    width: 70%;
    align-self: center;
    padding: 20px;
    margin: 0;
    font-family: Playfair;
    min-width: 560px;
}

header .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 20px;
    width: 58%;
}
header .buttons .header-button{
    padding:0 15px;
}
header .buttons .header-button a{
    border-radius: 3px;
    text-decoration: none;
    display: block;
    color: white;
    height: 50px;
    width: 220px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    background-color: #d36e16;
    font-weight: bold;
    font-size:13pt;
}
main{
    border-top: 1px solid rgb(175, 175, 175);
    
}
.vacancies-wrapper{
    background-image: url("/img/background.png");
   
    
}
#vacancies{
    
    height:auto;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    justify-content: space-between;
    padding-bottom: 10px;
}
#vacancies h2{
    text-align: center;
    font-size: 24pt;
    margin: 0;
    padding: 20px 0px;
    width:100%;
}
 
#vacancies h2 a {
    color:#e65100;
    text-decoration: underline;
    display: inline-block;
    background-color: #fff;
    padding: 15px 25px;
}
#vacancies .vacancy{
    /* border:1px solid grey; */
    width:450px;
    height:200px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    font-size: 12pt;
    margin: 15px 10px;
}


#vacancies .vacancy .vacancy-info{
    width: 56%;
    padding: 8px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#vacancies .vacancy .vacancy-title{
    margin:0 9px;
    font-size: 22pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#vacancies .vacancy .vacancy-title a{
    color: #455a64;
    /* text-decoration: underline; */
}
#vacancies .vacancy .location-text,
#vacancies .vacancy .payment-text{
    vertical-align: 5px;
}
/* #vacancies .vacancy .vacancy-info a{
    font-size: 15pt;
    color:#a0500b;
    line-height: 40px;
    text-shadow: #bfa48c  1px 1px 5px;
}
#vacancies .vacancy > a{
    display:block;
    width: 44%;
} */

#vacancies .vacancy .vacancy-img{
    border-radius: 0 10px 10px 0; 
}
.all-vacancies-button-wrapper{
    width: 100%;
}
.all-vacancies-button{
    display: block;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: #f57200;
    text-transform: uppercase;
    color: white;    
    padding: 15px 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-shadow: #d8af24 2px 2px 2px;
    font-size: 15pt;
}
#socialnetwork{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
#socialnetwork h2{
    text-align: center;
    font-size: 24pt;
    margin: 0;
    padding: 20px 0px;
    width:100%;
    background-color: #ffb74d;
    margin-bottom: 10px;
}
#socialnetwork img{
    margin: 8px;
}


#galery{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#galery h2{
    text-align: center;
    font-size: 24pt;
    margin: 0;
    padding: 20px 0px;
    width: 100%;
    background-color:#ffe57f;
}
#galery a{
    overflow: hidden;
    width:16%;
}
#galery img{
    width:100%;
    transition: 0.3s ease-in-out;
}

#galery img:hover{
    /* transform: scale(1.15); */
    opacity: 0.8;
}

#contacts{
    /* padding-bottom: 20px; */
    background-color: rgb(12, 10, 94);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

#contacts h2{
    text-align: center;
    font-size: 24pt;
    margin: 0;
    padding: 20px 0px;
    width:100%;
    color: aliceblue;
}
#contacts #license{
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.1em;
    font-size: 14pt;

}
#contacts #license a{
    color:aliceblue;
}
#contacts #license a:visited{
    color:aliceblue;
}
#contacts .contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:white;
    height: 96px;
    margin: 0 10px;
  
}
#contacts .contact .content-wraper{
    display: flex;
    width: 240px;
    flex-direction: column;
    margin: auto;
    font-size: 15pt;
    letter-spacing: 3px;
}
   
aside{
    width: 45px;
    height: 135px;
    position: fixed;
    top: 45%;
    left: 0;
    z-index: 50;
    background-color: white;

}
aside img {
    display: block;
}

#vacancy{
    padding: 1px 30px 0px 52px;
    background-color: #fff3e0;
    /* width: 70%; */
    margin:0 auto;
    font-family: OpenSans;
    font-size: 14pt;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
#vacancy .main-text{ 
    width: 780px;
    flex-grow: 1;
    padding-right: 15px;
    text-align: justify;
}
#vacancy .vacancy-galary {
    margin-top: 20px;
    width: 300px;
}
#vacancy .vacancy-galary img{
    width: 100%;
}

#info-text{
    background-image: url("../img/white-ornamic.png");
    text-align: justify;
}
#info-text main{
    border: none;
    margin: 0 auto;
    width:70%;
    max-width: 1000px;
    font-size: 14pt;
    padding:20px;
    background-color: rgba(255,255,255,0.8);
    box-shadow:1px 8px 8px 2px white;
}
#info-text main h1{
    margin-top: 0;
}
#info-text #vacancies{
    width:100%;
    justify-content: center;
}

.anket-wrapper{
    background-color: #e8eaf6;
    padding: 1px;
}
#anket{
    margin:80px auto;
    background-color: #fdffe3;
    width:400px;
    height: 450px;
    font-family: Verdana;
    padding: 1px;
    border:0;
    border-radius: 9px;
    box-shadow: #2c3e50 3px 3px 7px;
}
#anket form{
    margin: 0 auto;
    width: 320px;
}
#anket h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: #768576 2px 2px 3px;
}
#anket input, 
#anket select,
#anket textarea{
    display: block;
    outline: none;
    border: #332611 2px solid;
    width:320px;
    font-size: 16pt;
    padding: 2px 0;
    margin:15px 0;
    background-color: white;
    font-family: serif;
}
#anket input:focus, 
#anket select:focus
#anket textarea:focus{
    border: #7a7367 2px solid;
}
#anket input::placeholder, 
#anket select::placeholder,
#anket textarea::placeholder{
    margin-left: 4px;
}
#anket select option{
    text-indent:5px;
}
#anket input[type='text'],
#anket input[type='tel'],
#anket textarea{
    width:316px;
}
#anket input[type='submit']{
    background-color: #4caf50;
    color:white;
}

.contacts-page-wrapper{
    background-color: #fff3e0;
    font-family: OpenSans;
    overflow-y: hidden;
}
#contacts-page{
    border:0;
    margin: 0 auto;
    width:82%;
    padding: 20px;
    background-color: rgba(255,255,255,1);
    box-shadow: white 0px 5px 4px 4px;
}

#contacts-page .office-img{
    width:87%;
    max-width: 550px;
    border-radius: 4px;
}
#contacts-page .worker{
    display:flex;
    flex-direction: column;

}
#contacts-page .worker .worker-info-item{
    display: flex;
    margin-bottom: 4px;
}

#contacts-page .worker .worker-info-item .text a{
    color:rgb(72, 72, 236);
    line-height: 24px;
}
#contacts-page .worker .worker-info-item .text a:visited{
    color:rgb(72, 72, 236);
}
#contacts-page .worker h3{
    margin-bottom: 10px;
    margin-left: 6px;

}    
#contacts-page .worker .icon{
    height: 24px;
    width: 24px;
    margin-right:5px;
    background-repeat: no-repeat;
}
#contacts-page .worker .icon.viber{
    background-image: url('../img/contact-viber.png');
}
#contacts-page .worker .icon.instagram{
    background-image: url('../img/contact-instagram.png');
}
#contacts-page .worker .icon.tel{
    background-image: url('../img/contact-phone.png');
}
#contacts-page .worker .icon.facebook{
    background-image: url('../img/contact-facebook.png');
}
#contacts-page .map{
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#contacts-page .map iframe{
    width: 100%;
    height:450px;
    border:0;
}
#contacts-page .license{
    display:block;
    margin-bottom: 5px;
    font-weight: bolder;
    color:rgb(0, 0, 146);
    text-shadow:0px 0px 4px #909090;
}
#contacts-page .license:visited{
    color:rgb(0, 0, 146);
}
/* accordion start */

#description input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  #description .row {
    display: flex;
  }
  #description .row .col {
    flex: 1;
  }
  #description .row .col:last-child {
    margin-left: 1em;
  }
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
  }
  .tab {
    width: 100%;
    color: rgb(53, 53, 53);
    overflow: hidden;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #ffb74d;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
  }
  .tab-label:hover {
    background: #ff9800;
  }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
    margin-left: 8px;
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
  }
  
  input:checked + .tab-label {
    background: #ff9800;
  }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
  .tab-content a:visited{
      color:rgb(0, 0, 146);
  }
  
/* accordion end */

.table-services{
    background-color: rgb(255,192,0);
    border-collapse: collapse;
    margin-bottom: 30px;
}
.dark-orange{
    background-color: rgb(255,192,0);
}
.blue{
    background-color:rgb(128,222,234);
}
.table-services tbody{
    background-color: rgb(253, 205, 61);
}
.table-services td{
    border:1px solid black;
    text-align: center;
    transition:  background 0.5s ease-in;
}
.table-services tbody td:hover:not(.dark-orange){
    background-color: rgb(255, 220, 115);
    transition: background 0.5s ease-out;

}
.table-services tbody tr.blue td:hover{
    background-color: rgb(188, 231, 236);
    transition: background 0.5s ease-out;

}

#services-button{
    display:block;
    background-color: #f57200;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    width: max-content;
    margin: 0 auto;
    animation: radial-pulse 1s infinite; 


    line-height: 50px;
    padding: 15px 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-shadow: #d8af24 2px 2px 2px;
    font-size:16pt;
    border-radius: 2px;
}

.vacancies-ctg-wrapper{
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
}
.vacancies-ctg{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width:max-content;
    font-size: 14pt;
    
}
.vacancies-ctg li{
    display: inline-block;
}
.vacancies-ctg li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    width:max-content;
    padding: 7px 15px;  
    background-color: #ffe57f;
}
.vacancies-ctg li a.selected{
    background-color: #d36e16;
    color:rgb(255,255,255);
}

.viber-chat{
    display:inline;
}
.viber-add{
    display: none;
}


#form-login{
    margin-top: 50px ;
    margin-bottom: 50px;
}
/* label color */
#form-login .input-field label {
    color: #ef6c00 ;
}
  /* label focus color */
#form-login .input-field input:focus + label {
    color: #fb8c00 ;
}
  /* label underline focus color */
#form-login .input-field input:focus {
    border-bottom: 1px solid #fb8c00 ;
    box-shadow: 0 1px 0 0 #fb8c00 ;
  }



@media only screen and (max-width:920px){
    menu{
        width:auto;
        
    }
    .menu-item> a{
        padding: 0 4.5px;
    }
 
}
@media only screen and (max-width:750px){
    header .main-title{
        font-size: 45pt;
        min-width: 320px;;
    }
    header .buttons{
        flex-direction: column;
        align-items: center;
    }
    header .buttons .header-button a{
        width: 300px;
    }
    #galery a{
        overflow: hidden;
        width:23%;
    
    }
    #info-text main{
        width:90%;
    }
    .table-services{
        font-size:11pt;
    }
    .vacancies-ctg{
        font-size: 12pt;
    }
}
@media only screen and (max-width:480px){
    menu{
        font-size:13pt;
        font-weight: bolder;
    }
    header .main-title{
        font-size: 35pt;
    }
    #vacancies .vacancy {
        height: 135px;
        margin: 10px 0;
        font-size: 10pt;
        width: 100%;
    }
    #vacancies .vacancy .vacancy-title {
        font-size: 13pt;
    }
    #vacancies .vacancy .vacancy-info{
        padding: 8px 0 0 5px;
    }
    #vacancies .vacancy > a {
        overflow: hidden;
    }
    #vacancies .vacancy .vacancy-img {
        width:100%
    }
    .table-services{
        font-size:8pt;
    }
    #services-button{
        font-size: 12pt;
    }
    .all-vacancies-button{
        font-size: 13pt;
    }
    .vacancies-ctg{
        width: 310px;
    }
    .vacancies-ctg a{
        margin:5px;
    }

    .viber-chat{
        display:none;
    }
    .viber-add{
        display: inline;
    }
}
@media only screen and (max-width:1195px){
    #vacancies{
        width:100%;
    }
    #vacancy .vacancy-galary{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        /* align-items: center; */
    }
    #vacancy .vacancy-galary a{
        width: 350px;
        margin: 5px;
    }
}
@media only screen and (max-width:955px){
    #vacancies{
        justify-content: center;
    }
}


@font-face {
    font-family: "Playfair"; 
    src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "PlayfairBold"; 
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "OpenSans"; 
    src: url("/fonts/opensans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.712);
      
    }
   
    100% {
      box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }
  }
  @keyframes pulse{
	0%{
	-webkit-transform: scale(.8);
		opacity: 0.7;
	}
	50%{
		-webkit-transform: scale(.9);
		opacity: 0.7;
	}
	60%{
        -webkit-transform: scale(1.1);
        opacity: 1;
	}
	/* 70%{
		-webkit-transform: scale(1.3);opacity: .85;
	}
	80%{
		-webkit-transform: scale(1.4);opacity: .6;
	} */
	100%{
        -webkit-transform: scale(1.3);
        opacity: 1;
	}
}