<%- include('../part/header',{title:"Додавання послуги"})-%>
<!--  -->
<%-include('../part/menu/menu', {auth: true})-%>

<form
  action="/services/add"
  method="post"
  class="col s12 l4 offset-l4 m6 offset-m3 container"
  id="form"
>
  <h3>Додавання послуги</h3>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="title" id="title" placeholder="назва" required />
      <label for="title">Заголовок</label>
    </div>
    <div class="input-field col s12">
      <input type="text" name="price" id="price" placeholder="ціна" required />
      <label for="price">Ціна</label>
    </div>
    <div class="input-field col s12">
      <input
        type="text"
        name="term"
        id="term"
        placeholder="продолжительность"
        required
      />
      <label for="term">продолжительность</label>
    </div>
    <div class="input-field col s12">
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
      <label for="description">Опис</label>
    </div>
    <div class=" col s12">
      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        name="action"
      >
        Надіслати
      </button>
    </div>
  </div>
</form>

<%- include('../part/footer')-%>
